<div class="container">
  <div class="button">
    <button class="btn btn-primary" (click)="addRow()">
      <i class="fa-plus"> Add Fine</i>
    </button>
    <!-- <button mat-raised-button (click)="removeSelected()">
      Delete Selected
    </button> -->
  </div>
  <ag-grid-angular
    #agGrid
    id="myGrid"
    class="ag-theme-alpine ag-header-container"
    editType="fullRow"
    [modules]="modules"
    [enableRangeSelection]="true"
    (rowEditingStopped)="onRowEditingStopped($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (cellClicked)="onCellClicked($event)"
    (cellValueChanged)="onCellValueChanged($event)"
    [stopEditingWhenCellsLoseFocus]="false"
    [suppressClickEdit]="true"
    [suppressRowClickSelection]="true"
    [rowData]="rowData"
    [rowSelection]="rowSelection"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [animateRows]="true"
    [rowHeight]="50"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>

<!-- [gridOptions]="gridOptions"
     [popupParent]="isPopup()"
     rowSelection="multiple"
     [stopEditingWhenCellsLoseFocus]="true"
    (rowValueChanged)="onRowValueChanged($event)"
-->

<!-- gridApi.applyTransaction({ add: [{}] }) -->
