.container {
  padding: 0px;
  margin: 2px;
}

.content-body {
  padding: 60px 1rem;
  display: block;
  text-align: center;
  margin-left: auto;
}

.upload {
  margin-top: 10px;
}

.ag-theme-alpine {
  height: 300px;
  width: 100%;
  margin: 5px auto;
}

.button {
  margin: 50px auto 10px auto;
}

button {
  margin-top: 3px;
  height: 35px;
}

button:hover {
  opacity: 1;
}

.action-button {
  border: none;
  color: white;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
}

.action-button:hover {
  opacity: 1;
}

.action-button.edit {
  background-color: #008cba; /* Blue */
}
.action-button.update {
  background-color: #4caf50; /* Green */
}

.action-button.delete {
  background-color: #f44336; /* Red */
}

.action-button.cancel {
  background-color: #e7e7e7; /* Gray */
  color: black;
}