.container {
  padding: 0px;
  margin: 2px;
  max-width: 100%;
}

.content-body {
  padding: 60px 1rem;
  display: block;
  // text-align: center;
  margin-left: auto;
}

.upload {
  margin-top: 10px;
}

.ag-theme-alpine {
  height: 550px;
  width: 99%;
  margin: 5px auto;
  // --ag-font-size : 15px;
}

.button {
  margin: 50px 0px 10px 91%;
}

button {
  margin-top: 3px;
  // height: 35px;
  width: max-content;
}

button:hover {
  opacity: 1;
}

.action-button {
  border: none;
  color: white;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.7;
}

.action-button:hover {
  opacity: 1;
}

.action-button.edit {
  background-color: #008cba; /* Blue */
}
.action-button.update {
  background-color: #4caf50; /* Green */
}

.action-button.delete {
  background-color: #f44336; /* Red */
}

.action-button.cancel {
  background-color: #e7e7e7; /* Gray */
  color: black;
}

.ag-header-container {
  font-size: large;
}

.btn {
  background-color: #152b80;
}

i {
  font-style: normal;
  text-transform: capitalize;
  position: relative;
  bottom: 8px;
}

.fa-plus:before {
  font-size: 25px;
}

button.btn.btn-primary {
  height: 40px;
}