@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

h3 {
  // font-family: "Ubuntu", sans-serif;
  font-size: 50px;
  font-weight: inherit;
  text-align: center;
}

p {
  font-weight: 700;
  margin: 0px;
}

.button {
  background-color: #008cba;
  color: white;
  margin-left: 35%;
}

mat-card {
  // margin: 3em auto;
  // margin-left: auto;
  width: 100%;
  padding: 16px 16px 0px;
  // max-width: 70%;
  max-height: 600px;
  background-color: white;
}

.content-body {
  text-align: left;
  position: absolute;
  left: 35%;
  top: 30%;
}

mat-form-field {
  display: block;
}

.main-panel {
  background-color: #f9f9f9;
}
