<form (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Plate Number</label>
      <input
        type="text"
        class="form-control"
        placeholder="Enter Plate Number"
        [(ngModel)]="plateNumber"
      />
    </div>
    <div class="form-group col-md-6">
      <label>Employee</label>
      <div class="input-group">
        <select
          class="form-control"
          id="inputGroupSelect04"
          [(ngModel)]="selectedEmployee"
          (change)="getEmployeeData()"
        >
          <!-- <option default value="" >Select Employee</option> -->
          <option *ngFor="let employee of employees" [value]="employee.value">
            {{ employee.name }}
          </option>
          <!-- <option value="2">Two</option>
          <option value="3">Three</option> -->
        </select>
        <!-- <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button">Done</button>
        </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Location</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        disabled="true"
        placeholder="Employee's Location"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">GL Code</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        disabled="true"
        placeholder="Employee's GL Code"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Department</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        disabled="true"
        placeholder="Employee's Department"
      />
    </div>
    <div class="form-group col-md-6">
      <label>Violation Type</label>
      <div class="input-group">
        <select
          class="form-control"
          id="inputGroupSelect04"
          [(ngModel)]="selectedViolationType"
          (change)="getViolationData()"
        >
          <!-- <option selected value="">Choose Violation Type</option> -->
          <option
            *ngFor="let violationType of violation"
            [value]="violationType.value"
          >
            {{ violationType.name }}
          </option>
        </select>
        <!-- <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Done</button>
          </div> -->
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Charged To</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        disabled="true"
        placeholder="Customer/Employee"
      />
    </div>
    <div class="form-group col-md-6">
      <label for="inputAddress">Amount</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="e.g. 100 QAR"
        [(ngModel)]="amount"
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
