.btn {
  margin: 0 0 0 93.7%;
  text-transform: capitalize;
}

.form-check .form-check-label {
  padding: 0;
}

label {
  font-size: larger;
  font-weight: bold;
  // font-family: monospace;
}

.input-group .form-control {
  border: 1px solid #ced4da;
}

.form-group .form-control,
.input-group .form-control {
  padding: 5px;
}
