<form [formGroup]="manualForm" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="plateNumber">Plate Number</label>
      <input
        formControlName="plateNumber"
        [ngClass]="{'is-invalid': submitted && manualForm.controls.plateNumber.errors }"
        type="text"
        class="form-control"
        placeholder="Enter Plate Number"
      />
      <div
        *ngIf="submitted && manualForm.controls.plateNumber.errors"
        class="text-danger"
      >
        <div
          *ngIf="submitted && manualForm.controls.plateNumber.errors.required"
        >
          Plate Number is required
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="date">Date</label>
      <input
        formControlName="date"
        [ngClass]="{'is-invalid': submitted && manualForm.controls.date.errors }"
        type="datetime-local"
        class="form-control"
        placeholder="Enter Date"
      />
      <div
        *ngIf="submitted && manualForm.controls.date.errors"
        class="text-danger"
      >
        <div *ngIf="submitted && manualForm.controls.date.errors.required">
          Date is required
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="employee">Employee</label>
      <div class="input-group">
        <select
          formControlName="employee"
          [ngClass]="{'is-invalid': submitted && manualForm.controls.employee.errors }"
          class="form-control"
          id="inputGroupSelect04"
          (change)="getEmployeeData()"
        >
          <option *ngFor="let employee of employees" [value]="employee.value">
            {{ employee.name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="submitted && manualForm.controls.employee.errors"
        class="text-danger"
      >
        <div *ngIf="submitted && manualForm.controls.employee.errors.required">
          Employee is required
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>Location</label>
      <input
        class="form-control input-group"
        disabled="true"
        placeholder="Employee's Location"
      />
    </div>
    <div class="form-group col-md-4">
      <label>GL Code</label>
      <input
        class="form-control"
        disabled="true"
        placeholder="Employee's GL Code"
      />
    </div>
    <div class="form-group col-md-4">
      <label>Department</label>
      <input
        class="form-control"
        disabled="true"
        placeholder="Employee's Department"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="violationType">Violation Type</label>
      <div class="input-group">
        <select
          formControlName="violationType"
          [ngClass]="{'is-invalid': submitted && manualForm.controls.violationType.errors }"
          class="form-control"
          (change)="getViolationData()"
        >
          <option
            *ngFor="let violationType of violation"
            [value]="violationType.value"
          >
            {{ violationType.name }}
          </option>
        </select>
      </div>
      <div
        *ngIf="submitted && manualForm.controls.violationType.errors"
        class="text-danger"
      >
        <div
          *ngIf="submitted && manualForm.controls.violationType.errors.required"
        >
          Violation Type is required
        </div>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label>Charged To</label>
      <input
        class="form-control"
        disabled="true"
        placeholder="Customer/Employee"
      />
    </div>
    <div class="form-group col-md-4">
      <label for="amount">Amount</label>
      <input
        formControlName="amount"
        [ngClass]="{'is-invalid': submitted && manualForm.controls.amount.errors }"
        type="number"
        class="form-control"
        placeholder="e.g. 100 QAR"
      />
      <div
        *ngIf="submitted && manualForm.controls.amount.errors"
        class="text-danger"
      >
        <div *ngIf="submitted && manualForm.controls.amount.errors.required">
          Amount is required
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
