/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
//----------------------------------*\
// Fonts
//----------------------------------*/
@import "assets/scss/modules/_fonts.scss";
// primary font
$primary_font: "Almarai";
// font-weight
$thin: 100;
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Font size
$font-xs: 12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 20px;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}
.main-panel {
  background-color: #fff;
}

.main-panel .content {
  // height: 650px;
  background-color: rgba(255, 255, 255, 0.901);
}

.massign-grey {
  background-color: lightgrey;
}
.aassign-amber {
  background-color: lightsalmon;
}
.unassign-blue {
  background-color: lightblue;
}

.navbar-brand {
  font-family: $primary_font;
  font-size: $font-lg;
  font-weight: $black;
}

.navbar.navbar-transparent a:not(.dropdown-item):not(.btn) {
  color: black;
}

label {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $regular;
}

.form-control::placeholder {
  font-family: $primary_font;
  font-size: $primary-fs;
  font-weight: $light;
}

h6 {
  font-weight: 500;
  color: #152b80 !important;
}